<h2>Check out all of our Bands Below!!</h2>

    <h4>there will be more shortly, promise....</h4>

    <ul>
        <% @bands.each do |band| %>
        <li> <%=band.name%> </li>

            <%end%>
    </ul>